AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.youfacing\.me$
RewriteRule ^/?$ "https\:\/\/youfacing\.me\/" [R=301,L]

RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* – [F,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^invite$ ./invite.html

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^invite/([0-9a-zA-Z]+)$ ./invite.html?id=$1
